[defaults]
inventory = automation/inventory/hosts.yml
local_tmp = /tmp/exchange-automation-ansible
host_key_checking = False
retry_files_enabled = False
display_args_to_stdout = False
interpreter_python = auto_silent

[persistent_connection]
connect_timeout = 60
command_timeout = 120
